<!--
  Generated template for the RegisterCarInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Car Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #riderForm="ngForm" class="editForm" novalidate>
    <ion-grid>
      <ion-row class="headerTitle">
        <div>
          <h2>Car Information</h2>
        </div>
        Please select your car’s brand, model and types below.
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label>Choose Year</ion-label>
          <ion-select #caryear="ngModel" required id="caryear" name="caryear" [(ngModel)]="rider.carYear" (ionChange)="getBrand()">
            <ion-option *ngFor="let year of years" [value]="year">{{year}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label>Choose Brand</ion-label>
          <ion-select #carbrand="ngModel" required id="carbrand" name="carbrand" [(ngModel)]="rider.carBrand" (ionChange)="getModel()">
            <ion-option *ngFor="let brand of brands" [value]="brand">{{brand}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label>Choose Model</ion-label>
          <ion-select #carmodel="ngModel" required id="carmodel" name="carmodel" [(ngModel)]="rider.carModel" (ionChange)="getTrim()">
            <ion-option *ngFor="let model of models" [value]="model">{{model}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label>Choose Trim</ion-label>
          <ion-select #cartrim="ngModel" required id="cartrim" name="cartrim" [(ngModel)]="rider.carTrim">
            <ion-option *ngFor="let trim of trims" [value]="trim">{{trim}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label color="labelLight" stacked [hidden]="!carcolor.valid">Color</ion-label>
          <ion-input type="text" #carcolor="ngModel" required id="carcolor" name="carcolor" [(ngModel)]="rider.carColor" placeholder="Enter a car color"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-list radio-group #cartransmittion="ngModel" id="cartransmittion" name="cartransmittion" [(ngModel)]="rider.carTransmittion">
          <ion-label color="labelLight" stacked>Transmittion Type</ion-label>
          <ion-item>
            <ion-label>Automatic</ion-label>
            <ion-radio checked="true" value="automatic"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Manual</ion-label>
            <ion-radio value="manual"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-row>
      <ion-row>
        <div class="buttonContainer">
          <button ion-button block id="btnLogin" class="btn" [disabled]="!riderForm.valid" (click)="goto()">Next</button>
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
