@import '../../../app/mixin';
page-register-facephoto {
    .facePhoto {
        width: 40vh;
        height: 40vh;
        border-radius: 20vh;
        text-align: center;
        border: 4px solid $color-main1;
        background-color: saturate($color-main2, 50%);
        margin: 3vh auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 4vh;
        color: white;
    }
    // .fa-camera {
    //     font-size: 8vh;
    //     margin-bottom: 20px;
    // }
    i {
        margin-right: 10px !important;
    }
    img {
        width: 100%;
        height: 100%;
        border: 1px solid $color-border;
        object-fit: contain;
    }
    button {
        @include button(2);
    }
}
