// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import 'mixin';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
@import '../font/font-awesome';
// @import '../../node_modules/@angular/material/theming';

body {
  font-family: $font-family;
  color: $font-color;
  @include frameMargin;
}
page-home, page-login, page-login-verify, page-phoneupdate, page-forgot-password, page-register, page-register-user, page-register-car-info, page-register-facephoto, page-register-driver-agreement, page-register-user-completed, page-register-driver-agreement, page-register-driver-bank, page-register-driver-pref, page-register-driver-verify, page-register-insurance, page-register-driver-insurance-verify, page-register-agreement1, page-register-agreement2, page-register-agreement3, page-register-agreement4 {
  ion-header {
    color: $color-font-label;
  }
  h2 {
    color: white;
    text-transform: uppercase;
  }
  h5 {
    font-size: 1.5rem;
    margin-top: 0.5em;
    text-transform: uppercase;
  }
  .content {
    color: white;
    background-color: $color-main2;
  };
  .item {
    color: $color-font-light;
    background: none;
  };
  ion-row {
    margin-top: 1.5em;
  }
  ion-footer .ion-toolbar {
    text-align: center;
  }
  ion-footer .toolbar-background {
    border-width: 0 !important;
    background: none;
  };
  [padding] .item {
    padding-left: 0;
  }
  .item-ios.item-block.item-checkbox {
    &.item-checkbox-checked ion-label {
      color: $color-main1;
    }
    .item-inner {
      border-bottom: 0;
    }
  }
  ion-list .item-ios {
    padding-left: 0;
    .item-inner {
      padding-left: 16px;
    }
    &.item-radio {
      .item-inner {
        padding-left: 0;
      }
    }
  }
  .item-ios.activated {
    background-color: $color-main1
  }
}
p {
  width: 100%;
}
.buttonContainer {
  width: 100%;
  position: relative;
  text-align: center;
  button {
    text-transform: uppercase;
  }
  &.fullWidth {
    button {
      width: 98%;
      margin: 0 1%;
    }
  }
  .bottom {
    position: absolute;
    bottom: 3%;
  }
}
.section {
  margin : 40px 0;
}
button {
  ion-icon {
    margin-top: -2px;
    margin-right: 8px;
  }
}
hr.splitLine {
  width: 100%;
  border-top: 1px solid #8c8b8b;
	text-align: center;
  margin: 10px 0;
}
hr.splitLine.or:after {
	content: 'OR';
	display: inline-block;
	position: relative;
	top: -10px;
	padding: 0 10px;
	background: $color-main2;
	color: #8c8b8b;
	font-size: 18px;
}
.headerTitle {
  h1,h2,h3,h4,h5,h6 {
    width: 100%;
  }
}
ion-row {
  &.margin-top {
    margin-top: 1.1em;
  }
  &:first-child {
    margin-top: 0;
  }
}
.fullWidth, ion-list {
  width: 100%;
}
ion-footer {
  &.split {
    border-top: 1px solid darken($color-main2, 5%);
    box-shadow: 0px 0px 3em rgba(0,0,0,0.5);
  }
  .item-inner {
    border-bottom: 0 !important;
  }
}

.checkbox-ios .checkbox-icon {
  border-radius: 0;
  background: none;
}
.checkbox-icon.checkbox-checked, .checkbox-ios-dark .checkbox-checked .checkbox-inner {
  border-color: #15c8a0;
}
.imageRotateHorizontal{
    -moz-animation: spinHorizontal 5s infinite linear;
    -o-animation: spinHorizontal 5s infinite linear;    
    -webkit-animation: spinHorizontal 5s infinite linear;
    animation: spinHorizontal 5s infinite linear;
}
ion-item.item-input {
  ion-label{
    margin-top: 0;
  }
  .item-label-stacked {
    margin-top: 10px;
  }
  .input-wrapper {
    height: 3em;
  } 
}
ion-item ion-input ~ ion-label {
  position: absolute;
}
ion-item.item-radio ~ ion-label {
  margin-top: 2em;
}
ion-input {
  display: flex;
  align-items: flex-end;
}
.chargeAmount {
  &:before {
    content: "$";
  }
}
.userPhoto {
    background-color: $color-border;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-right: 15px;
}
.driverId {
    background-color: #555;
    color: $color-font-light;
    display: inline-block;
    padding: 5px 10px;
}
.driverRates i {
    color: $color-main1;
}
.driverRates.review i {
    font-size: 3em;
    color: $color-disabled;
    margin-right: 10px;
    margin-top: 20px;
    &.active {
        color: $color-main1;
    }
    &:last-child {
        margin-right: 0;
    }
}
.subBtn {
    margin: auto;
    width: 100%;
    height: 1em;
    color: $color-font-label;
}

/* Options */
.currency {
  &:before {
    content: '$';
  }
}
.textFocus {
  font-weight: bold;
  color: $color-main1;
}
.noMargin {
  margin: 0 !important;
}
small.warning {
  color: $color-google;
  font-weight: bold;
}

ion-header {
  i.fa {
    margin-right: 10px;
    color: $color-font-label;
  }
}

/* Anmation */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    20% { transform: rotateY(360deg); }
    100% { transform: rotateY(360deg); }
}