// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import 'mixin';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
// @import '../../node_modules/@angular/material/theming';

body {
  font-family: $font-family;
  color: $font-color;
  @include frameMargin;
}
page-home, page-login, page-login-verify, page-phoneupdate, page-forgot-password, page-register {
  h2 {
    text-transform: uppercase;
  }
  .content {
    color: white;
    background-color: $color-main2;
  };
  .item-ios {
    color: $color-font-light;
    background: none;
  };
  ion-footer .ion-toolbar {
    text-align: center;
  }
  ion-footer .toolbar-background-ios {
    border-width: 0 !important;
    background: none;
  };
  [padding] .item-ios {
    padding-left: 0;
  }
}
.buttonContainer {
  width: 100%;
  position: absolute;
  bottom: 3%;
  text-align: center;
  button {
    text-transform: uppercase;
  }
  &.fullWidth {
    button {
      width: 98%;
      margin: 0 1%;
    }
  }
}
.section {
  margin : 40px 0;
}

/* Anmation */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
