page-user {
    .scroll-content {
        .currentLocationBtn {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 100;
            margin-right: 0;
        }
    }
    .findDirectionCard,
    .estimateMenu {
        position: absolute;
        z-index: 100;
    }
    #map {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .iconSet {
        float: left;
        width: 30px;
        text-align: center;
        .fa {
            color: $color-font-label;
            font-size: 21px;
            margin-left: -12px;
        }
        &.active .fa {
            color: $color-main1;
        }
    }
    .searchBox {
        margin-left: 30px;
        ion-input {
            
            input {
                margin: 0px;
            }
        }
    }
    ion-card-content {
        border-top: 1px solid #ddd;
    }
    .currentContainer  {
        position: relative;
    }
    .destinationContainer {
        clear:both;
        padding: 0;
        > button {
            margin: 0;
        }
    }
    .fa-ellipsis-h {
        position: absolute;
        bottom: 0;
        left: 19px;
        width: 30px;
        top: 62px;
    }
    .estimateMenu {
        bottom: 0;
        .estimatePrice {
            float: right;
            font-weight: bold;
        }
        .creditCardChangeBtn {
            margin: 0;
            padding: 0.7em 0;
            height: 1em;
            float: right;
            font-size: $font-size-default;
        }
        i {
            width: 30px;
            text-align: center;
            color: $color-font-label;
            margin-left: -12px;
        }
        .creditCardNumber {
            margin-left: 20px;
        }
    }
}
